body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}


.my-list {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid #4a90e2;
    list-style-type: upper-roman;
    list-style-position: inside; 
}


.my-list li {
    background-color: #e8f1ff;
    border-radius: 10px;
    font-size: 16px;
    margin: 8px;
    padding: 10px;
}


.my-list li:hover {
    background-color: #cfe3ff;
}
