body {
    background-color: #cfe3ff;
    font-family: Arial;
}

.register-form {
    width: 320px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 18px;
    border: 2px solid #4a90e2;
}

.register-form h2 {
    text-align: center;
    color: #4a90e2;
}

.register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #b3cfff;
    background-color: #f2f7ff;
}

.register-form button {
    width: 100%;
    padding: 10px;
    border-radius: 14px;
    border: none;
    background-color: #4a90e2;
    color: white;
    font-size: 16px;
}

.register-form button:hover {
    background-color: #357abd;
}
