<<<<<<< HEAD
body {
    background-color: rgb(127, 255, 0);
}

#body1 {
    background-color: rgb(181, 7, 7);
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 25px;
}

#GOA {
    background-color: rgb(6, 96, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 35px;
    border: 2px solid rgb(0, 0, 0);
}

img {
    border: 5px solid rgb(0, 0, 0);
    width: 300px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
}

#GOA-MMA {
    background-color: rgb(0, 0, 0);
    color: rgb(148, 158, 3);
    text-align: center;
    height: 35px;
    border: 2px solid rgb(0, 0, 0);
}

footer {
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    height: 25px;
}


=======
body {
    background-color: rgb(127, 255, 0);
}

#body1 {
    background-color: rgb(181, 7, 7);
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 25px;
}

#GOA {
    background-color: rgb(6, 96, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    height: 35px;
    border: 2px solid rgb(0, 0, 0);
}

img {
    border: 5px solid rgb(0, 0, 0);
    width: 300px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
}

#GOA-MMA {
    background-color: rgb(0, 0, 0);
    color: rgb(148, 158, 3);
    text-align: center;
    height: 35px;
    border: 2px solid rgb(0, 0, 0);
}

footer {
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    height: 25px;
}


>>>>>>> 217e13265442f77198ae78d8644909733855d02c
