.box {
    width: 200px;
    height: 80px;
    color: white;
    font-size: 18px;
}

#box1 {
    background-color: red;
    margin: 10px;
    padding: 10px;
}

#box2 {
    background-color: blue;
    margin: 20px;
    padding: 5px;
}

#box3 {
    background-color: green;
    margin: 15px 30px;
    padding: 15px;
}

#box4 {
    background-color: purple;
    margin: 40px;
    padding: 20px 10px;
}

#box5 {
    background-color: orange;
    margin: 5px 50px;
    padding: 25px;
}