* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
}

header {
    background-color: #020617;
    padding: 20px;
}

nav a {
    color: white;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ef4444;
}

.container {
    width: 80%;
    margin: 30px;
    padding: 20px;
}

.card {
    background-color: #020617;
    border: 2px solid #334155;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.card img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
}

button {
    background-color: rgb(232, 26, 26);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}

button:hover {
    background-color: #dc2626;
}

footer {
    background-color: #020617;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}