@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mainest {
  display: flex;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  overflow: hidden;
  width: 1100px;
}

#main {
  padding: 60px;
  width: 50%;
  display: flex;        
  flex-direction: column; 
  justify-content: space-between; 
}

#stats {
  display: flex;
  gap: 60px;
  margin-top: auto; 
}

#main h1 {
  color: white;
  font-size: 32px;
  margin-bottom: 25px;
}

#main h1 span {
  color: #aa5eda;
}

#Discover {
  margin-bottom: 50px;
  font-size: 15px;
  color: #adabc0;
  font-weight: 400;
}

#stats h2 {
  color: white;
  margin-bottom: 5px;
}

#stats p {
  text-transform: uppercase;
  font-size: 12px;
}

#child {
  width: 50%;
}

img {
  width: 100%;
  height: 100%;
}

p {
    font-family: "Inter", sans-serif;
    color: #adabc0;
    font-weight: 700;
}

h1 {
    font-family: "Lexend Deca", sans-serif;
}

span {
    font-family: "Lexend Deca", sans-serif;
}

h2 {
    font-family: "Inter", sans-serif;
}
