@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');   
/* font-family: "Lexend Deca", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
/* font-family: "Big Shoulders", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

#mainest {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  border-radius: 10px;
  overflow: hidden;
}

.card {
  padding: 40px;
  display: grid;
  gap: 25px;
  height: 500px;
}

.card h2 {
    font-family: "Big Shoulders", sans-serif;
    font-size: 35px;
}

.card p {
    font-family: "Lexend Deca", sans-serif;
}

#sedan {
  background-color: #e38826;
  color: white;
}

#suvs {
  background-color: #006970;
  color: white;
}

#luxury {
  background-color: #004241;
  color: white;
}

.card p {
  font-size: 14px;
}

button {
  height: 40px;  
  width: 140px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.25s;
}

#bsed:hover {
    background-color: #e38826;
    border: 2px solid white;
    color: white;
}

#blux:hover {
    background-color: #004241;
    border: 2px solid white;
    color: white;
}

#bsuv:hover {
    background-color: #006970;
    border: 2px solid white;
    color: white;
}
