<<<<<<< HEAD
body {
    background-color: gray;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

img {
    width: 300px;
    border: 2px solid black;
}

p {
    font-size: 18px;
    color: white;
    text-align: center;
}

nav:hover {
    background-color: lightgray;
}

a:visited {
    color: purple;
}

a:hover {
    color: orange;
}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
=======
body {
    background-color: gray;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

img {
    width: 300px;
    border: 2px solid black;
}

p {
    font-size: 18px;
    color: white;
    text-align: center;
}

nav:hover {
    background-color: lightgray;
}

a:visited {
    color: purple;
}

a:hover {
    color: orange;
}

#footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 30px;
>>>>>>> 217e13265442f77198ae78d8644909733855d02c
}