@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

#body {
    background-color: #0d1a2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#main {
    background-color: #15273e;
    width: 330px;
    padding: 24px;
    border-radius: 15px;
}


#equilibrium {
    width: 100%;
    border-radius: 10px;
}


#title {
    color: white;
    font-size: 22px;
    margin-top: 20px;
}

#description {
    color: #89a0bf;
}


#Equilibrium {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid #20324a;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#price {
    color: #3fdde6;
    font-weight: 600;
    margin-top: 5px;
}

#time-left {
    color: #667b99;
    margin-top: 5px;
}

#footer {
    display: flex;
    align-items: center;
    gap: 15px;
}

#avatar {
    width: 33px;
    height: 33px;
    border-radius: 50px;
}

#creator {
    color: #6981a4;
}

#creator span {
    color: white;
}