@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#body {
    background-color: #f3eae3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mainest {
    display: flex;
    background-color: white;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

img {
    width: 50%;
    
}

#child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 30px;
}

#perfume {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #9a99a1;
    margin-bottom: 20px;
}

h1 {
    font-family: "Fraunces", serif;
    font-size: 32px;
    color: #1d2126;
    margin-bottom: 20px;
}

#description {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #9d9da1;
    margin-bottom: 25px;
}

#Price {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

#new-price {
    font-family: "Fraunces", serif;
    font-size: 32px;
    color: #45816b;
    font-weight: 700;
}

#old-price {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #908f97;
    text-decoration: line-through;
}

button {
    width: 250px;
    height: 50px;
    border: none;
    background-color: #3d8168;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight:bolder;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
}

