<<<<<<< HEAD
body {
    background-color: #1e1f2b;
    
}

form {
    width: 420px;
}

input {
    height: 45px;
    background-color: #1e1f2b;
    border: 2px solid #c96a6a;
    color: white;
    font-size: 14px;
}

input[type="comment"] {
    height: 180px;
    background-color: rgb(30, 31, 43);
    border: 2px solid rgb(201, 106, 106);
    color: white;
    font-size: 14px;
}

button {
    width: 100%;
    height: 55px;
    background-color: rgb(201, 106, 106);
    color: white;
    font-size: 20px;
}
=======
body {
    background-color: #1e1f2b;
    
}

form {
    width: 420px;
}

input {
    height: 45px;
    background-color: #1e1f2b;
    border: 2px solid #c96a6a;
    color: white;
    font-size: 14px;
}

input[type="comment"] {
    height: 180px;
    background-color: rgb(30, 31, 43);
    border: 2px solid rgb(201, 106, 106);
    color: white;
    font-size: 14px;
}

button {
    width: 100%;
    height: 55px;
    background-color: rgb(201, 106, 106);
    color: white;
    font-size: 20px;
}
>>>>>>> 217e13265442f77198ae78d8644909733855d02c
