<<<<<<< HEAD
body {
    background-color: gray;
}

form {
    background-color: gray;
}

button {
    width: 170px;
    height: 35px;
    background-color: rgb(31, 255, 102);
=======
body {
    background-color: gray;
}

form {
    background-color: gray;
}

button {
    width: 170px;
    height: 35px;
    background-color: rgb(31, 255, 102);
>>>>>>> 217e13265442f77198ae78d8644909733855d02c
}