<<<<<<< HEAD
h3{
    text-align: left;
    font-family: Arial, sans-serif;
    color: rgb(0, 123, 255);
}


input[type="text"],
input[type="password"] {
    width: 170px;
    text-align: left;
    height: 35px;
}

input[type="submit"] {
    width: 170px;
    height: 35px;
    background-color: rgb(0, 123, 255);
    color: white;
}

body {
    width: 250px;
    
    border: 2px solid rgb(0, 123, 255);
=======
h3{
    text-align: left;
    font-family: Arial, sans-serif;
    color: rgb(0, 123, 255);
}


input[type="text"],
input[type="password"] {
    width: 170px;
    text-align: left;
    height: 35px;
}

input[type="submit"] {
    width: 170px;
    height: 35px;
    background-color: rgb(0, 123, 255);
    color: white;
}

body {
    width: 250px;
    
    border: 2px solid rgb(0, 123, 255);
>>>>>>> 217e13265442f77198ae78d8644909733855d02c
}