<<<<<<< HEAD
button{
    background-color: rgb(0, 160, 24);
    color: white;
    text-align: center;
    width: 100px;
=======
button{
    background-color: rgb(0, 160, 24);
    color: white;
    text-align: center;
    width: 100px;
>>>>>>> 217e13265442f77198ae78d8644909733855d02c
}