* {
    padding: 0;
    margin: 0;
}

img {
    width: 300px;
}

section {
    display: flex;
    justify-content: space-evenly;
}

.new {
    background-color: black;
    color: white;
    width: 50px;
    height: 25px;
    border: none;
}

.sale {
    background-color: red;
    color: white;
    width: 50px;
    height: 25px;
    border: none;
}

.discount {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.discount p {
    color: red;
}

.product {
    position: absolute;
}