#container {
    display: flex;
    align-items: center;
    height: 100vh;
}

#main {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:blue;
    animation: moving 0.5s infinite alternate ;
}

@keyframes moving {
    100% {
        transform: translateX(800px) scale(2);
    }
}