@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #141414;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#container {
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

#avatar {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-bottom: 20px;
}

#container h1 {
    color: white;
    font-size: 22px;
    margin-bottom: 8px;
}

#london {
    color: #b5f11c;
    font-size: 14px;
    margin-bottom: 20px;
}

#abouther {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 25px;
}

#links {
    display: flex;
    flex-direction: column;
}

a {
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    font-weight: bold;
}

#links a:hover {
    background-color: #b5f11c;
    color: black;
    transition: 0.5s;
}