@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

#base {
    display: flex;
    width: 160px;
    margin-top: 40px;
    margin-left: 103px;
}

#main {
    display: flex;
    width: 320px;
    padding-top: 86px;
    margin-left: 103px;
    font-size: 25px;
}

#content {
    display: flex;
    
}